DormitoryDotNet/__pycache__/settings.cpython-37.pyc
DormitoryDotNet/__pycache__/settings.cpython-37.pyc
DormitoryDotNet/apps/DormitoryManagement/__pycache__/admin.cpython-37.pyc
DormitoryDotNet/apps/DormitoryManagement/__pycache__/models.cpython-37.pyc
DormitoryDotNet/apps/DormitoryManagement/__pycache__/apps.cpython-37.pyc
DormitoryDotNet/__pycache__/settings.cpython-37.pyc
db.sqlite3
