DormitoryDotNet/__pycache__/settings.cpython-37.pyc
DormitoryDotNet/__pycache__/settings.cpython-37.pyc
DormitoryDotNet/apps/DormitoryManagement/__pycache__/admin.cpython-37.pyc
DormitoryDotNet/apps/DormitoryManagement/__pycache__/models.cpython-37.pyc
DormitoryDotNet/apps/DormitoryManagement/__pycache__/apps.cpython-37.pyc
DormitoryDotNet/__pycache__/settings.cpython-37.pyc
DormitoryDotNet/apps/users/__pycache__/__init__.cpython-37.pyc
DormitoryDotNet/apps/users/__pycache__/admin.cpython-37.pyc
DormitoryDotNet/apps/users/__pycache__/models.cpython-37.pyc
DormitoryDotNet/apps/users/__pycache__/urls.cpython-37.pyc
DormitoryDotNet/apps/users/__pycache__/views.cpython-37.pyc
DormitoryDotNet/apps/users/migrations/__init__.py
DormitoryDotNet/apps/users/migrations/__pycache__/__init__.cpython-37.pyc
DormitoryDotNet/__pycache__/settings.cpython-37.pyc
DormitoryDotNet/__pycache__/urls.cpython-37.pyc
DormitoryDotNet/apps/DormitoryManagement/__pycache__/urls.cpython-37.pyc
DormitoryDotNet/apps/DormitoryManagement/__pycache__/views.cpython-37.pyc
DormitoryDotNet/__pycache__/settings.cpython-37.pyc
DormitoryDotNet/__pycache__/urls.cpython-37.pyc
DormitoryDotNet/__pycache__/__init__.cpython-38.pyc
DormitoryDotNet/__pycache__/settings.cpython-38.pyc
DormitoryDotNet/__pycache__/urls.cpython-38.pyc
DormitoryDotNet/__pycache__/wsgi.cpython-38.pyc
DormitoryDotNet/apps/DormitoryManagement/__pycache__/__init__.cpython-38.pyc
DormitoryDotNet/apps/DormitoryManagement/__pycache__/admin.cpython-38.pyc
DormitoryDotNet/apps/DormitoryManagement/__pycache__/apps.cpython-38.pyc
DormitoryDotNet/apps/DormitoryManagement/__pycache__/models.cpython-38.pyc
DormitoryDotNet/apps/users/__pycache__/views.cpython-38.pyc
DormitoryDotNet/apps/users/__pycache__/urls.cpython-38.pyc
DormitoryDotNet/apps/users/__pycache__/models.cpython-38.pyc
DormitoryDotNet/apps/users/__pycache__/apps.cpython-38.pyc
DormitoryDotNet/apps/users/__pycache__/admin.cpython-38.pyc
DormitoryDotNet/apps/users/__pycache__/__init__.cpython-38.pyc
DormitoryDotNet/apps/DormitoryManagement/__pycache__/views.cpython-38.pyc
DormitoryDotNet/apps/DormitoryManagement/__pycache__/urls.cpython-38.pyc
