{% load static %}
<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/mobile.css'%}" media="screen and (max-width : 568px)">
	<script type="text/javascript" src="{% static 'js/mobile.js'%}"></script>
    <title>{% block title %}Dormitory.net{% endblock title %}</title>
</head>
<body>
    <div id="header">
		<a href="{% url 'DormitoryManagement:index' %}" class="logo">
			<img src="{% static 'images/logo.png'%}" alt="">
		</a>
		<ul id="navigation">
			<li>
				<a href="{% url 'DormitoryManagement:index' %}">головна</a>
			</li>
			<li class="selected">
				<a href="{% url 'DormitoryManagement:about'%}">карта</a>
			</li>
			<li>
				<a href="{% url 'DormitoryManagement:blog'%}">новини</a>
			</li>
			<li>
				<a href="{% url 'DormitoryManagement:contact'%}">контакти</a>
			</li>

            {% if user.is_authenticated %}
			    <li>
				    <a href="{% url 'users:profile'%}">Профіль</a>
			    </li>
                <li>
                    <a href="{% url 'users:logout'%}">Вийти</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'users:login' %}">Увійти</a>
                </li>
                <li>
                    <a href="{% url 'users:register' %}">Зареєструватися</a>
                </li>
            {% endif %}
		</ul>
	</div>

    {% block content %}
    {% endblock content %}
</body>
</html>