{% extends 'base.html' %}
{% load static %}

{% block content %}
	<div id="body">
		<h1><span>ПРО ПРОЕКТ</span></h1>
		<div>
			<img src="{% static 'images/111.png'%}" alt="">
			<div class="article">
				<h3>Опис проекту</h3>
				<p>
					TNEUDormitory.net - це соціальна мережа закритого типу, що передбачає ряд можливостей тільки зареєстрованим користувачам, пов'язаних із студентським гуртожитком №1 ТНЕУ. Часто необхідно дізнатися інформацію, у якій живе та чи інша людина, обмінятися продуктими, якщо це вже вечір і магазин зачинений або просто організувати вечір гри в мафію. Спільні групові чати у месенджерах не завжди є накйкращим варіантом, адже не надають достатнього функціоналу та не оберігають нас від спаму. Соціальна мережа з спеціальними можливостями дозволила б обмежити надсилання великого потоку повідомлень і виділити головне.
				</p>
				<h3>Очікувані результати</h3>
				<p>
					Веб-застосунок TNEUDormitory.net дозволяє зареєстрованим користувачам дізнатися інформацію про мешканців, кімнати, останні новини. Є можливість створення повідомлень про обмін продуктами. Інформація буде надаватись користувачам, реєстрацію яких підтвердив адміністратор. Також сайт передбачає інтерактивну карту гуртожитку, колонку з новинами, рейтинг кімнат, відгуки про кімнату та жителів. Соціальна мережа є закритою через те, що інформація передбачена тільки для певних людей, щоб ніхто зайвий її не отримав.
				</p>
				<h3>Бізнес-причини виникнення проекту</h3>
				<p>
					Відсутність підходящої системи для обміну інформацією у гуртодитку послужила поштовхом для виникнення ідеї створення закритої соціальної мережі для її мешканців. Виникнення проекту не зумовлене необхідністю в отриманні фінансової вигоди, але розміщення
					платної реклами може принести додатковий дохід для підтримання сайту та оплати роботи адміністраторів та розробників. Соціальна мережа допоможе покращити та пришвидшити обмін новинами та пропозиціями.
				</p>
				<h3>Цілі проекту</h3>
				<p>
					Бізнес-цілі: створити дійсно робочу мережу, отримати популярність серед користувачів і у майбутньому можливо отримувати хоча б мінімальний дохід. Цілі проекту: реалізація і впровадження соціальної мережі TNEUDormitory.net з метою задоволення потреь користувачів.  
				</p>
			</div>
		</div>
	</div>
	<div id="footer">
		<div>
			<p>&copy; 2020 TNEUDormitory.net</p>
			<ul>
				<li>
					<a href="#" id="twitter">twitter</a>
				</li>
				<li>
					<a href="#" id="facebook">facebook</a>
				</li>
				<li>
					<a href="#" id="googleplus">googleplus</a>
				</li>
				<li>
					<a href="#" id="pinterest">pinterest</a>
				</li>
			</ul>
		</div>
	</div>
{% endblock content %}
