{% extends 'base.html' %}
{% load static %}
{% block content %}
	<div id="body">
		<h1><span>КАРТА</span></h1><br>
		<h2>Поверх №1</h2> 
		<div class="mapc"> 
			<img id="map" src="{% static 'images/1.png'%}" alt="" width="1098" height="228" usemap="#Map">
			<map name="Map">
			  <area shape="rect" color="gray" coords="481,40,518,110" href="#">
			  <area shape="rect" color="red" coords="518,39,555,84" href="#">
			  <area shape="rect" color="blue" coords="555,40,592,85" href="#">
			  <area shape="rect" color="yellow" coords="592,40,628,110" href="#">
			</map>
		</div>
		<br>
		<div class="floor">
			<a href="{% url 'DormitoryManagement:map2' %}">Поверх #2</a>
			<a href="{% url 'DormitoryManagement:map3' %}">Поверх #3</a>
			<a href="{% url 'DormitoryManagement:map4' %}">Поверх #4</a>
			<a href="{% url 'DormitoryManagement:map5' %}">Поверх #5</a><br>
		</div>
	</div><br><br><br><br><br><br><br>
	<div id="footer">
		<div>
			<p>&copy; 2020 TNEUDormitory.net</p>
			<ul>
				<li>
					<a href="#" id="twitter">twitter</a>
				</li>
				<li>
					<a href="#" id="facebook">facebook</a>
				</li>
				<li>
					<a href="#" id="googleplus">googleplus</a>
				</li>
				<li>
					<a href="#" id="pinterest">pinterest</a>
				</li>
			</ul>
		</div>
	</div>
	<script src="preloader/preloader.js"></script>
{% endblock content %}

