{% extends 'base.html' %}
{% load static %}
{% block content %}
	<div id="body">
		<h1><span>КАРТА</span></h1><br>
		<h2>Поверх №2</h2> 
		<div class="mapc"> 
			<img id="map" src="{% static 'images/2.png'%}" alt="" width="1098" height="228" usemap="#Map">
			<map name="Map">
				<area shape="rect" coords="149,41,186,110" href="#">
				<area shape="rect" coords="185,40,222,109" href="#">
				<area shape="rect" coords="223,40,258,109" href="#">
				<area shape="rect" coords="259,40,297,109" href="#">
				<area shape="rect" coords="334,41,369,109" href="#">
				<area shape="rect" coords="372,41,409,110" href="#">
				<area shape="rect" coords="409,39,445,112" href="#">
				<area shape="rect" coords="446,40,482,110" href="#">
				<area shape="rect" coords="482,39,518,110" href="#">
				<area shape="rect" coords="518,40,555,109" href="#">
				<area shape="rect" coords="555,41,591,109" href="#">
				<area shape="rect" coords="629,40,666,110" href="#">
				<area shape="rect" coords="593,40,628,110" href="#">
				<area shape="rect" coords="666,40,704,110" href="#">
				<area shape="rect" coords="814,40,850,109" href="#">
				<area shape="rect" coords="740,40,778,110" href="#">
				<area shape="rect" coords="778,40,815,109" href="#">
				<area shape="rect" coords="851,39,887,110" href="#">
				<area shape="rect" coords="888,41,925,110" href="#">
			<area shape="rect" coords="149,138,185,187" href="#">
			<area shape="rect" coords="186,137,222,188" href="#">
			<area shape="rect" coords="223,138,259,187" href="#">
			<area shape="rect" coords="260,137,295,189" href="#">
			<area shape="rect" coords="296,137,333,187" href="#">
			<area shape="rect" coords="371,137,406,188" href="#">
			<area shape="rect" coords="408,137,443,187" href="#">
			<area shape="rect" coords="445,136,480,187" href="#">
			<area shape="rect" coords="481,136,556,187" href="#">
			<area shape="rect" coords="556,138,592,187" href="#">
			<area shape="rect" coords="593,136,628,187" href="#">
			<area shape="rect" coords="629,138,665,187" href="#">
			<area shape="rect" coords="667,137,702,188" href="#">
			<area shape="rect" coords="740,137,777,188" href="#">
			<area shape="rect" coords="778,137,814,187" href="#">
			<area shape="rect" coords="815,136,850,187" href="#">
			<area shape="rect" coords="851,137,887,188" href="#">
			</map>
		</div><br>
		<div class="floor">
			<a href="{% url 'DormitoryManagement:map1' %}">Поверх #1</a>
			<a href="{% url 'DormitoryManagement:map3' %}">Поверх #3</a>
			<a href="{% url 'DormitoryManagement:map4' %}">Поверх #4</a>
			<a href="{% url 'DormitoryManagement:map5' %}">Поверх #5</a><br>
		</div><br><br><br><br><br><br><br>
	</div><br>
	<div id="footer">
		<div>
			<p>&copy; 2020 TNEUDormitory.net</p>
			<ul>
				<li>
					<a href="#" id="twitter">twitter</a>
				</li>
				<li>
					<a href="#" id="facebook">facebook</a>
				</li>
				<li>
					<a href="#" id="googleplus">googleplus</a>
				</li>
				<li>
					<a href="#" id="pinterest">pinterest</a>
				</li>
			</ul>
		</div>
	</div>
{% endblock content %}