<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Карта - TNEUDormitory.net</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/mobile.css" media="screen and (max-width : 568px)">
	<script type="text/javascript" src="js/mobile.js"></script>
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
</head>
<body>

	<div id="header">
		<a href="index.html" class="logo">
			<img src="images/logo.png" alt="">
		</a>
		<ul id="navigation">
			<li>
				<a href="index.html">головна</a>
			</li>
			<li class="selected">
				<a href="map1.html">карта</a>
			</li>
			<li>
				<a href="profile.html">профіль</a>
			</li>
			<li>
				<a href="blog.html">новини</a>
			</li>
			<li>
				<a href="contact.html">контакти</a>
			</li>
			<li>
				<a href="login.html">увійти</a>
			</li>
		</ul>
	</div>
	<div id="body">
		<h1><span>КАРТА</span></h1><br>
		<h2>Поверх №5</h2> 
		<div class="mapc"> 
			<img id="map" src="images/5.png" alt="" width="1098" height="228" usemap="#Map">
			<map name="Map">
				  <area shape="rect" coords="149,41,186,110" href="#">
				  <area shape="rect" coords="185,42,222,111" href="#">
				  <area shape="rect" coords="223,42,258,111" href="#">
				  <area shape="rect" coords="259,42,297,111" href="#">
				  <area shape="rect" coords="334,43,369,111" href="#">
				  <area shape="rect" coords="372,42,409,111" href="#">
				  <area shape="rect" coords="409,39,445,112" href="#">
				  <area shape="rect" coords="446,40,482,110" href="#">
				  <area shape="rect" coords="483,41,519,112" href="#">
				  <area shape="rect" coords="518,42,555,111" href="#">
				  <area shape="rect" coords="555,43,591,111" href="#">
				  <area shape="rect" coords="629,40,666,110" href="#">
				  <area shape="rect" coords="593,40,628,110" href="#">
				  <area shape="rect" coords="666,40,704,110" href="#">
				  <area shape="rect" coords="814,42,850,111" href="#">
				  <area shape="rect" coords="740,41,778,111" href="#">
				  <area shape="rect" coords="778,42,815,111" href="#">
				  <area shape="rect" coords="851,40,887,111" href="#">
				  <area shape="rect" coords="888,42,925,111" href="#">
			  <area shape="rect" coords="149,138,185,187" href="#">
			  <area shape="rect" coords="186,137,222,188" href="#">
			  <area shape="rect" coords="223,138,259,187" href="#">
			  <area shape="rect" coords="260,137,295,189" href="#">
			  <area shape="rect" coords="334,138,371,188" href="#">
			  <area shape="rect" coords="371,137,406,188" href="#">
			  <area shape="rect" coords="408,138,443,188" href="#">
			  <area shape="rect" coords="445,137,480,188" href="#">
			  <area shape="rect" coords="481,138,556,189" href="#">
			  <area shape="rect" coords="556,139,592,188" href="#">
			  <area shape="rect" coords="593,137,628,188" href="#">
			  <area shape="rect" coords="629,139,665,188" href="#">
			  <area shape="rect" coords="667,137,702,188" href="#">
			  <area shape="rect" coords="740,137,777,188" href="#">
			  <area shape="rect" coords="778,137,814,187" href="#">
			  <area shape="rect" coords="815,136,850,187" href="#">
			  <area shape="rect" coords="851,137,887,188" href="#">
			</map>
		</div><br>
		<div class="floor">
			<a href="map1.html">Поверх #1</a>
			<a href="map2.html">Поверх #2</a>
			<a href="map3.html">Поверх #3</a>
			<a href="map4.html">Поверх #4</a><br>
		</div>

	</div><br><br><br><br><br><br><br>
	<div id="footer">
		<div>
			<p>&copy; 2020 TNEUDormitory.net</p>
			<ul>
				<li>
					<a href="#" id="twitter">twitter</a>
				</li>
				<li>
					<a href="#" id="facebook">facebook</a>
				</li>
				<li>
					<a href="#" id="googleplus">googleplus</a>
				</li>
				<li>
					<a href="#" id="pinterest">pinterest</a>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>
